include ../../templates/common.jade

doctype html
html
  head
    - var excludeCommonScriptHeader = true
    include ../../templates/head
    include ../../templates/explanation-head
    link(rel="stylesheet" href= path + "/style.css" type="text/css")
  body(style="width: 620px")
    section.menu
      a(href=basepath) Back
    section.title
      .title-region
        h1.title !{title}
        h3.by-line !{subtitle}
      +share
      +authors
    div(class="myApp")
    
    if !dev
      +footer
      +disqus

  script(src=basepath + '_build/js/common-shared.js' charst="utf-8")
  script(src=path + '_bundle.js' charst="utf-8")
