include ../../templates/common.jade

doctype html
html
  head
    include ../../templates/head
    include ../../templates/explanation-head
    link(rel="stylesheet" href= path + "/style.css" type="text/css")
  body(ng-app="myApp" ng-controller="MainCtrl")
    section.menu
      a(href=basepath) Back
    section.title
      .title-region
        h1.title !{title}
        h3.by-line !{subtitle}
      +share
    section
      p By 
        if twitterCreator
          a(href="http://twitter.com/" + twitterCreator) !{author}
        else
         !{author}
      p
        :markdown
          [Put text here.]

    section
      div(style="text-align: center; width: 100%;")
        pca-d2

    section
      div(style="text-align: center; width: 100%;")
        pca-d1

    if !dev
      +footer
      +disqus

  // script(type="x-shader/x-vertex" id="vertexshader").
  //   attribute vec3 color;
  //   uniform float pointSize;
  //   varying vec3 vColor;
  //   void main() {
  //     vec4 mvPosition = modelViewMatrix * vec4(position, 1.0);
  //     gl_PointSize = pointSize;
  //     gl_Position = projectionMatrix * mvPosition;
  //     vColor = color;
  //   }

  // script(type="x-shader/x-fragment" id="fragmentshader").
  //   // uniform vec3 color;
  //   uniform float alpha;
  //   varying vec3 vColor;
  //   void main() {
  //     float f = 0.5;
  //     // vec2 pos = mod(gl_FragCoord.xy, vec2(50.0)) - vec2(25.0);
  //     float d = abs(distance(gl_PointCoord - f, vec2(0.0, 0.0) ) );
  //     if(d < f) {
  //       gl_FragColor = vec4(vColor, alpha);
  //     } else {
  //       discard;
  //     }
  //   }


  // script(src=basepath + "scripts/three.min.js" charset="utf-8")
  script(src=basepath + "scripts/numeric.js" charset="utf-8")
  script(src=path + "script.js")