mixin share
  if !dev
    .share
      a.twitter-share-button(href="https://twitter.com/share" data-via="setosaio") Tweet
      iframe.fb-iframe(src='//www.facebook.com/plugins/like.php?href=' + encodeURIComponent(href) + '&width=150&height=24&layout=button_count&action=like&show_faces=false&share=true'
          scrolling="no" frameborder="0" style="border:none; overflow:hidden; height: 20px; width: 150px" allowTransparency="true")
      script(type='text/javascript').
        !function(d,s,id) {
          var js
            , fjs = d.getElementsByTagName(s)[0]
            , p = /^http:/.test(d.location) ? 'http' : 'https';
          if(!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = p + '://platform.twitter.com/widgets.js';
            fjs.parentNode.insertBefore(js,fjs);
          }
        }(document, 'script', 'twitter-wjs');

mixin authors
  p By 
    if twitterCreator
      a(href="http://twitter.com/" + twitterCreator) !{author}
    else
     !{author}
  p
    if authorText
      | with text by 
      if twitterCreatorText
        a(href="http://twitter.com/" + twitterCreatorText) !{authorText}
      else
        !{authorText}

mixin mailchimpSignup
  div.
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
      <form action="//setosa.us9.list-manage.com/subscribe/post?u=060f38736e386cb5f4a41ac34&amp;id=ca34aa93b7"
        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" 
        class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <div class="mc-field-group">
            <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" value placeholder="Email address">
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>
          <div style="position: absolute; left: -5000px;">
            <input type="text" name="b_060f38736e386cb5f4a41ac34_ca34aa93b7"
              tabindex="-1" value="">
          </div>
          <div class="clear">
            <input type="submit" value="Subscribe" name="subscribe"
              id="mc-embedded-subscribe" class="button btn btn-primary">
          </div>
        </div>
      </form>
    </div>
    <!--End mc_embed_signup-->

mixin footer
  section
    p For more explanations, visit the Explained Visually 
      a(href="/ev/") project homepage.
    p Or subscribe to our mailing list.
    +mailchimpSignup
    br
  mixin googleAnalytics

mixin disqus
  section.
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'explainedvisually'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

mixin googleAnalytics
  script(type="text/javascript").
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-11200159-16', 'setosa.io');
    ga('send', 'pageview');
