
include ../templates/common.jade

mixin explanationList
  each exp, i in explanations
    a.plain-link(href=exp.path)
      div.explanation-summary
        span.release EV !{explanations.length - i} - !{exp.date}
          #{'ev' + i + '-thumb'}.ev-thumb
        div.desc
          hr
          h3.link !{exp.title}
          p !{exp.quip}

doctype html
html
  head
    include ../templates/head.jade
    meta(property="og:title" content="Explained Visually")
    meta(name="twitter:creator" content="@setosaio")
    title Explained Visually
  body(ng-app="myApp" ng-controller="MainCtrl")
    //- background-stage
    if debug
      section
        pre
          !{JSON.stringify(locals, null, 2)}
    section.landing-demo
      div(style="width:{{slideW}}px;height:200px;")
        landing-demo
    section.landing.slide(ng-init="offsetY=-210" style="width:{{slideW}}px;position:relative")
      h1.title(style="text-align:center") Explained Visually
      h2.by-line(style="margin-right:115px; text-align:right; top:-40px;").
        a <a href="http://setosa.io"><div class="setosa-logo"></div></a> project
      div(style="text-align:center")
        +share
    section(style="text-align:center")
      //- h2(style="") About
      :markdown
        Explained Visually (EV) is an experiment in making hard ideas intuitive. The team at Setosa is working full-time on explanatory visualizations, so expect a visualization every week for the next few months. Sign up to hear about the latest visualization.
    +mailchimpSignup
    section
      +explanationList
    br
    br
    br
    script(type='text/javascript')
      include script.js
  mixin googleAnalytics

