include ../../templates/common.jade

doctype html
html
  head
    include ../../templates/head
    include ../../templates/explanation-head
    link(rel="stylesheet" href= path + "style.css" type="text/css")
  body(ng-app="myApp" ng-controller="MainCtrl")
    section.menu
      a(href=basepath) Back
    section.title
      .title-region
        h1.title !{title}
        h3.by-line !{subtitle}
      +share
    section
      p By 
        if twitterCreator
          a(href="http://twitter.com/" + twitterCreator) !{author}
        else
         !{author}
    section
      h1 Hello world!
    section
      similar-triangles
    section(ng-controller="SineCosineLinkedCtrl")
      unit-circle(system="cartesian" style="float:left;width:50%")
      unit-circle(system="polar" style="float:left;width:50%")
    section(ng-controller="SineAnimationCtrl")
      h1 Sine(θ)
      ev-play-button(is-playing="opts.isPlaying" style="width:100%; height: 200px")
        trig-transform(func="sine")
    section(ng-controller="CosineAnimationCtrl")
      h1 Cosine(θ)
      ev-play-button(is-playing="opts.isPlaying" style="width:100%; height: 200px")
        trig-transform(func="cosine")
    section
      div(style="clear:both")
      linked-coordinates
    +footer
    +disqus

  script(src=path + "script.js")
