include ../../templates/common.jade

doctype html
html
  head
    include ../../templates/head
    include ../../templates/explanation-head
    link(rel="stylesheet" href= path + "/style.css" type="text/css")
    link(href='http://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css')
  body(ng-app="myApp" ng-controller="MainCtrl")
    section.menu
      a(href=basepath) Back
    section.title
      .title-region
        h1.title !{title}
        h3.by-line !{subtitle}
      +share
    section
      p By 
        if twitterCreator
          a(href="http://twitter.com/" + twitterCreator) !{author}
        else
         !{author}
      p
        :markdown
          An image kernel is a small matrix used to apply effects like the ones you might find in Photoshop or Gimp, such as blurring, sharpening, outlining or embossing. They're also used in machine learning for 'feature extraction', a technique for determining the most important portions of an image. In this context the process is referred to more generally as "convolution" (see: [convolutional neural networks](https://en.wikipedia.org/wiki/Convolutional_neural_network).)
          
          To see how they work, let's start by inspecting a black and white image. The matrix on the left contains numbers, between 0 and 255, which each correspond to the brightness of one pixel in a picture of a face.  The large, granulated picture has been blown up to make it easier to see; the last image is the "real" size.

      p
        image-as-matrix
      p
        | Let's walk through applying the following 3x3
        b  {{selectedKernel}} 
        | kernel to the image of a face from above.
      p
        div(style="width: 100%; text-align: center")
          select(ng-options="key as key for (key, value) in selectableKernels"
            ng-model="selectedKernel")
        kernel-matrix
      p
        :markdown
          Below, for each 3x3 block of pixels in the image on the left, we multiply each pixel by the corresponding entry of the kernel and then take the sum. That sum becomes a new pixel in the image on the right. Hover over a pixel on either image to see how its value is computed.

        div(style="position:relative")
          kernel-inspect
          div(style="display:block; position: absolute;top:360px; left: 450px")
            select(ng-options="key as key for (key, value) in selectableKernels"
              ng-model="selectedKernel")

        :markdown
          One subtly of this process is what to do along the edges of the image. For example, the top left corner of the input image only has three neighbors. One way to fix this is to extend the edge values out by one in the original image while keeping our new image the same size. In this demo, we've instead ignored those values by making them black.

          Here's a playground were you can select different kernel matrices and see how they effect the original image or build your own kernel. You can also upload your own image or use live video if your browser supports it.

        div(style="position:relative")
          div(style="display: block; position:absolute; width: 260px;height:260px; top: 85px; left: 65px;")
            div(style="display: block; width: 33.33%; height: 33.33%; float: left;" ng-repeat="(idx, val) in kernel track by $id(idx)")
              input(
                style="width:100%;height: 100%;font-size: 20px;text-align:center"
                type="number"
                ng-model="kernel[idx]"
                min="-10"
                max="10"
                step="0.1"
                ng-change="modifiedKernel()")
          div(style="display:block; position: absolute;top:360px; left: 145px")
            select(ng-options="key as key for (key, value) in kernels"
              ng-model="selectedKernel")

          kernel-playground

      p
        div(ng-show="selectedKernel === 'sharpen'")
          :markdown
            The __sharpen__ kernel emphasizes differences in adjacent pixel values. This makes the image look more vivid.

        div(ng-show="selectedKernel === 'blur'")
          :markdown
            The __blur__ kernel de-emphasizes differences in adjacent pixel values.

        div(ng-show="selectedKernel.indexOf('emboss') !== -1")
          :markdown
            The __emboss__ kernel (similar to the __sobel__ kernel and sometimes referred to mean the same) givens the illusion of depth by emphasizing the differences of pixels in a given direction. In this case, in a direction along a line from the top left to the bottom right.

        div(ng-show="selectedKernel === 'identity'")
          :markdown
            The __indentity__ kernel leaves the image unchanged. How boring!

        div(ng-show="selectedKernel === 'custom'")
          :markdown
            The __custom__ kernel is whatever you make it.

        div(ng-show="selectedKernel.indexOf('sobel') !== -1")
          :markdown
            __sobel__ kernels are used to show _only_ the differences in adjacent pixel values in a particular direction.

        div(ng-show="selectedKernel === 'outline'")
          :markdown
            An __outline__ kernel (also called an "edge" kernel) is used to highlight large differences in pixel values. A pixel next to neighbor pixels with close to the same intensity will appear black in the new image while one next to neighbor pixels that differ strongly will appear white.
      p
        :markdown
          For more, have a look at Gimp's excellent documentation on using [Image kernel's](http://docs.gimp.org/en/plug-in-convmatrix.html). You can also apply your own custom filters in Photoshop by going to Filter -> Other -> Custom...
    if !dev
      +footer
      +disqus
  script(src=basepath + "scripts/exif.js" charset="utf-8")
  script(src=path + "script.js")